.my-component {
  font-size: 120px;
  color: purple;
}

.my-component2 {
  font-size: 150px;
  color: green;
}

.synthetic-vision {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 800px;
}